@font-face {
  font-family: "moderatRegular";
  src: url("./recursos/Moderat-Regular.ttf");
}

@font-face {
  font-family: "moderatBold";
  src: url("./recursos/Moderat-Bold.ttf");
}

.headerContainer{
  width: 100%;
  height: 100px;
  background-color: black;
}

.headerContainer img{
  position:sticky;
  float: left;
  width: 250px;
  margin: 30px;
}

.menuContainer{
  margin-top:0%;
  position:absolute;
  width: 180px;
  height:100vh;
  background-color:#efefef;
}

.menuContainer ul{
  margin: 0%;
  color:black;
  list-style: none;
  text-align: left;
  padding-left: 10%;
  font-family: ;
  
}
.menuContainer li{
 padding-top: 20px; 
}

.menuContainer img{
  width: 20px;
}


#containersSpacing{
  margin-left: 150px;
}

.tabPedidosContainer{
  width: 90%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  /*border: solid gray 2px;*/
  box-shadow: 1px 5px 5px 1px #707070;
  font-family: 'moderatRegular';
}

.nav-link{
  color:#707070;
}

.nav-tabs .nav-link.active{
  border-top: #C3353F solid 3px;
}

.filtroPedidosContainer{
  width: 90%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  /*border: solid gray 2px;*/
  text-align: left;
  font-family: 'moderatRegular';
}

.filtroPedidosContainer h2{
  font-size: 1.5rem;
  margin-bottom: 20px;
  font-family: 'moderatBold';
}
