.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.headerContainer{
  width: 100%;
  height: 10vh;
  background-color: black;
}

.headerContainer img{
  float: left;
  width: 250px;
  margin: 15px;
}

.menuContainer{
  margin-top:0%;
  position:absolute;
  width: 150px;
  height:100vh;
  background-color:#efefef;
}

.menuContainer ul{
  margin: 0%;
  color:black;
  list-style: none;
  text-align: left;
  padding-left: 10%;
  font-family: ;
  
}
.menuContainer li{
 padding-top: 20px; 
}

.menuContainer img{
  width: 20px;
}


#containersSpacing{
  margin-left: 150px;
}

.tabPedidosContainer{
  width: 90%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  border: solid gray 2px;
}

.filtroPedidosContainer{
  width: 90%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  /*border: solid gray 2px;*/
  text-align: left;
}

.filtroPedidosContainer h2{
  font-size: 1.5rem;
  margin-bottom: 20px;
}
